.inactive-menu-category-modal{
    padding: 2rem;
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    justify-content: center;
    align-items: center;
}