.add-menu-category-modal{
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;

    &__text-field{
        width: 90%;
    }

    &__title{
        text-align: center;
        font-size: 1.3rem;
    }

    &__text-placeholder{
        font-family: Helvetica, Arial, sans-serif;
    }
}